$green: #9fa255;
$green-dark: darken($green, 10);

body {
  font-family: 'Amiko', sans-serif;
  font-size: 100%;
}

.App {
  text-align: center;
  background-color: lighten($green, 45)
}

.App-header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #3d3d3d;
  height: 115px;
  color: white;
  z-index: 5;
}

nav {
  display: flex;
  position: fixed;
  width: 100%;
  top: 115px;
  z-index: 5;
  a.nav-link {
    text-decoration: none;
    color: $green-dark;
    &:active {
      color: $green-dark;
    }
  }
  .nav-link {
    flex-grow: 1;
    padding: 15px 0 10px;
    font-size: 1.2rem;
    text-transform: uppercase;
    border: 2px solid $green-dark;
    border-left: 1px;
    //border-left: 1px;
    background-color: #d9d9d9;
    -webkit-transition: 0.15s;
    transition: 0.15s;
  }
  .is-active {
    border-bottom: 2px solid lighten($green, 45);
    background-color: lighten($green, 45);
  }
}

.home {
  width: 100%;
  padding: 175px 0 100px 0;
  max-width: 800px;
  margin: 0 auto;
  z-index: 10;
  font-size: 1.1rem;
  line-height: 1.5;
  text-align: left;
  .hello {
    font-size: 1.3rem;
  }
  .emph {
    color: $green-dark;
    font-weight: 600;
  }
  .go-to-code {
    color: grey;
    font-size: 1rem;
    a {
      text-decoration: none;
      &:visited, &:link, &:active {
        color: $green-dark;
        font-weight: 600;
      }
    }
  }
  .comment {
    font-size: 1rem;
  }
}


//----------- CHOOSING ARRAYS ------------

.choose-array {
  width: 100%;
  padding-top: 175px;
  z-index: 10;
  .numbers, .strings {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border-top: solid 2px $green;
    cursor: pointer;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    &:hover {
      background-color: lighten($green, 25);
    }
  }
  .active {
    background-color: lighten($green, 25);
  }
  .strings {
    border-bottom: solid 2px $green;
  }
}

.given-array {
  color: darken($green-dark, 10);
}

.choose-function-descr {
  text-align: center;
}

.choose-function {
  width: 100%;
  top: 420px;
  cursor: pointer;
  background-color: white;
  color: darken($green-dark, 10);
  border-top: solid 2px $green;
  border-bottom: solid 2px $green;
  display: flex;
  .chosen-func {
    flex-grow: 1;
    font-size: 1.3rem;
    border-left: 2px solid $green;
    -webkit-transition: 0.15s;
    transition: 0.15s;
    &:hover {
      background-color: lighten($green, 25);
    }
  }

  .active {
    background-color: lighten($green, 25);
  }
  .strings {
    border-bottom: solid 2px $green;
  }
}

.row {
  margin: 0 auto;
  display: flex;
  position: relative;
}

.first {
  margin: 0 auto;
}

.array-functions {
  flex-grow: 1;
  padding: 0 20px;
  .function-name {
    color: $green-dark;
    font-size: 1.2rem;
  }
}

//buttons to fire function

.fire-function {
  background-color: white;
  border: 2px solid $green;
  border-radius: 10px;
  padding: 10px 10px 6px 5px;
  margin-left: 10px;
  font-family: 'Amiko', sans-serif;
  font-size: 1.5rem;
  color: $green;
  outline: none;
  -webkit-transition: 0.15s;
  transition: 0.15s;
  cursor: pointer;

  &:hover {
    background-color: $green;
    color: white;
  }
  &:active {
    background-color: $green-dark;
  }
}

.outcome {
  font-family: 'Amiko', sans-serif;
  font-size: 1.5rem;
  color: $green-dark;
  font-weight: 600;
}

.reset {
  @extend .fire-function;
  position: absolute;
  right: 30px;
  top: 182px;
  padding: 6px 10px 4px 5px;
  font-size: 1rem;
  background-color: $green;
  color: white;
}

//----------- POP UP ---------------------

.alert {
  display: none;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 100;
  //display: flex;
  align-items: center;
  justify-content: center;
  .box {
    width: 500px;
    height: 300px;
    background-color: white;
    border: solid 2px $green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
      font-size: 1.5rem;
      margin: 20px 47px;
    }
  }
}

.close-alert {
  @extend .fire-function;
  max-width: 400px;
  margin: 10px 0 10px 0;
  font-size: 1.2rem;
}