$green: #9fa255;
$green-dark: darken($green, 10);

body {
  font-family: 'Amiko', sans-serif;
  font-size: 100%;
}

.App {
  text-align: center;
  background-color: lighten($green, 45)
}

.App-header {
  background-color: #3d3d3d;
  height: 100px;
  padding: 20px;
  color: white;
}

nav {
  display: flex;
  a.nav-link {
    text-decoration: none;
    color: $green-dark;
    &:active {
      color: $green-dark;
    }
  }
  .nav-link {
    flex-grow: 1;
    padding: 15px 0 10px;
    font-size: 1.2rem;
    text-transform: uppercase;
    border: 2px solid $green-dark;
    border-left: 1px;
    //border-left: 1px;
    background-color: #d9d9d9;
    -webkit-transition: 0.15s;
    transition: 0.15s;
  }
  .is-active {
    border-bottom: 2px solid lighten($green, 45);
    background-color: lighten($green, 45);
  }
}

.choose-array {
  width: 100%;
  position: fixed;
  height: 253px;
  top: 200px;
  z-index: 10;
  .numbers, .strings {
background-color: white;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.7rem;
    border-top: solid 2px $green;
    cursor: pointer;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .active {
    background-color: lighten($green, 25);
  }
  .strings {
    border-bottom: solid 2px $green;
  }
}

.given-array {
  color: darken($green-dark, 10);
}

.row {
  margin: 0 auto;
  max-width: 1400px;
  display: flex;
  position: relative;
}

.first {
  margin: 300px auto 0;
}

.array-functions {
  flex-grow: 1;
  .function-name {
    color: $green-dark;
    font-size: 1.2rem;
  }
}

.fire-function {
  background-color: white;
  border: 2px solid $green;
  border-radius: 10px;
  padding: 10px 10px 6px 5px;
  margin-left: 10px;
  font-family: 'Amiko', sans-serif;
  font-size: 1.5rem;
  color: $green;
  outline: none;
  -webkit-transition: 0.15s;
  transition: 0.15s;
  cursor: pointer;

  &:hover {
    background-color: $green;
    color: white;
  }
  &:active {
    background-color: $green-dark;
  }
}

.reset {
  @extend .fire-function;
  position: absolute;
  right: 20px;
  top: 10px;
  padding: 6px 10px 4px 5px;
  font-size: 1rem;
  background-color: $green;
  color: white;
}